
<header class="header">
  <div class="container"> 
    <div class="header_cont"> 
      <a class="header_cont_logo" href="{{ site.baseurl }}{% for lan in site.data.languages %}{% if lan[0] == page.lang %}{% assign data = lan[1] %}{{ data.link }}{% endif %}{% endfor %}">  
        {% for lan in site.data.general %} 
          {% if lan[0] == page.lang %}
          {% assign data = lan[1] %}
              {{ data.logo }}
          {% endif %}  
        {% endfor %} 
      </a>  
      <div class="header_cont_nav"> 
        <ul class="header_cont_nav_list"> 
          {% for lan in site.data.menus %} 
            {% if lan[0] == page.lang %}
            {% assign data = lan[1] %}
              {% for manu in data %} 
                <li class="header_cont_nav_list_items" > 
                  <a class="header_cont_nav_list_items_link"
                  href="{{ site.baseurl }}{{ manu.url }}"> {{ manu.title }}</a> 
                </li>
              {% endfor %}  
            {% endif %}  
          {% endfor %}  
        </ul>  
        {% for lan in site.data.general %} 
          {% if lan[0] == page.lang %}
          {% assign data = lan[1] %}
              <a class="general-button" href="{{ site.baseurl }}{{ data.butoon-href }}">Get Started</a>
          {% endif %}  
        {% endfor %} 
      </div> 
      <div class="menu-button">
          <img src="{{ site.baseurl }}/assets/img/arrow.svg" alt="arrow" > 
      </div>
    </div> 
  </div>
</header>
 