 
$background-white: #ffffff;
$background-white2: #F1F1F1;
$background-white3: #FBFBFB;
$background-black: #000000;
$background-dark: #C4C4C4;
$background-blue: #3877EF;
$background-blue2: #3078EF;
$background-red: #F5D6CA; 

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #7A7A7A;
$color-dark2: #8C8C8C;
$color-blue: #3877EF;

$font-inter: 'Inter', sans-serif;
$font-karla: 'Karla', sans-serif;

 

  
 

