<section class="empty"></section>
<section class="video">
    <div class="container-small"> 
        <div class="video_block" {% if section.video %} data-video="{{  section.video }}" {% endif %}>
            <!-- <div class="video_block_modal">
              <div class="video_block_modal_cont">
                  <span class="video_block_modal_close">&times;</span> 
              </div>
            </div> -->
            {% if section.video-img %}<img class="video_block_image" src="{{ site.baseurl }}{{ section.video-img }}" alt="video-img">
            {% endif %}
            <a class="video_play">
              <img src="{{ site.baseurl }}/assets/img/play.svg" alt="play">
            </a>
        </div>
        <div class="video_cont">
          <div class="video_cont_left">
              <h6>{{ section.video-sub-title }}</h6>
              <h2>{{ section.video-title }}</h2>
          </div>
          <div class="accordion">
            <div class="accordion_cont"> 
                {% for accordion in section.video-accordion %}
                  <div class="accordion_item">
                      <h4 class="accordion_item_title">{{ accordion.title }}</h4> 
                      <div class="accordion_item_content">  
                        {{ accordion.text }}
                      </div>
                  </div>  
                {% endfor %}   
            </div>
          </div>
              
        </div>
    </div> 
</section>  