.go-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background-blue;
    padding: 190px 0 160px;
    box-sizing: border-box;
    @include sm {
        padding: 116px 0;
    }
    h4{
        font-family: $font-inter;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 26px;  
        text-align: center;
        letter-spacing: 0.05em; 
        color: $color-white;
        margin: 0 auto 10px;
        @include sm {
            font-size: 18px;
            line-height: 22px;
        }
    }
    h2{
        font-family: $font-inter;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 70px;   
        text-align: center; 
        color: $color-white;
        margin: 0;
        @include sm {
            font-weight: 800;
            font-size: 28px;
            line-height: 32px;
        }
    }
    &_cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        &_item{
            width: 100%;
            max-width: 370px;
            display: flex;
            flex-direction: column;
            margin: 25px 15px 0;
            @include sm {
                margin: 80px 0 0;
            }
        }
        &_white{
            display: flex;
            flex-direction: row;
            padding: 15px 30px;
            box-sizing: border-box;
            width: 100%; 
            background-color: $background-white2;
            @include sm {
                justify-content: center;
            }
        }
        &_img{
            width: 120px;
            height: 120px;
            object-fit: contain;
            max-width: 100%; 
        }
        h5{
            font-family: $font-inter;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 119%; 
            color: $color-white;
            margin: 25px 0 5px;
            @include sm {
                margin: 20px 0 5px;
                font-weight: 800;
                font-size: 22px;
                line-height: 24px;
            }
        }
        p{
            color: $color-white;
            line-height: 26px;
            @include sm {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    &_bottom{
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    &.white{
        background-color: $background-white; 
        .general-paragraph, h5, h2{
            color: $color-black;
        }
        h4{
            color: $color-dark2;
        } 
        .go-head_cont_white{
            background-color: transparent;
            padding: 0; 
        }
    }
}