.teaser{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 105px);
    box-sizing: border-box;
    background-color: $background-red;
    position: relative;
    padding: 115px 0;
    @include sm {
        min-height: auto;
    }
    &_cont{
        position: relative;
        z-index: 9;
        width: 100%;
        max-width: 973px;
        h1{
            font-family: $font-inter;
            font-style: normal;
            font-weight: 800;
            font-size: 140px;
            line-height: 140px; 
            color: $color-black;
            margin: 0 0 30px;
            @include sm {
                font-weight: 800;
                font-size: 40px;
                line-height: 46px;
                word-wrap: break-word;
            }
        }
        .general-paragraph{
            margin: 0 0 35px;
            max-width: 943px;
        }
        .general-button{
            padding: 16px 52px;
            @include sm {
                padding: 10px 31px;
            }
        }
    }
    &_img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top right;
        z-index: 2;
    }
    .container-small{
        max-width: 1250px;
    }
}