.empty{
  width: 100%;
  height: 452px;
  display: block;
  background-color: $background-white;
  @include sm {
    height: 350px;
  }
  @include xs {
    height: 300px;
  }
}
.video{
    display: flex;
    flex-direction: column;
    background-color: $background-red;
    position: relative;
    padding: 280px 0 210px;
      @include sm {
        padding: 160px 0 45px;
      }
      @include xs {
        padding: 125px 0 45px;
      }
    &_block{
        width: 100%;
        max-width: 850px;
        height: 480px;
        display: flex;
        margin: -520px auto 0; 
        flex-direction: column;
        position: relative; 
        background: $background-dark; 
        iframe{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: relative;
            z-index: 8;
          }
        @include sm {
            height: 240px;
            margin: -280px auto 0; 
        }
        @include xs {
            height: 170px;
            margin: -205px auto 0;
        }
        &_image{
            position: absolute;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%; 
            object-fit: cover;
            object-position: center;
            z-index: 5;
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &_cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include sm {
            flex-direction: column;
        }
        &_left{
            margin: 40px 0 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 470px;
            @include sm {
                max-width: 100%;
            }
            h6{
                font-family: $font-inter;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 18px; 
                display: flex;
                align-items: center;
                letter-spacing: 0.05em; 
                color: hsl(217, 86%, 56%);
                margin: 0;
                @include sm {
                    font-size: 18px;
                    line-height: 22px;  
                    margin: 0 0 10px;
                }
            }
            h2{
                font-family: $font-inter;
                font-style: normal;
                font-weight: 800;
                font-size: 64px;
                line-height: 64px; 
                color: $color-black;
                margin: 0;
                @include sm {
                    ont-weight: 800;
                    font-size: 36px;
                    line-height: 36px; 
                }
            }
        }
    }
    &_play{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 64px;
        height: 64px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 7;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.accordion{
    margin: 40px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    &_cont{
        display: flex;
        flex-direction: column;
    }
    &_item{
        display: flex;
        flex-direction: column;
        margin: 0 0;
        position: relative;
        &_title{
            position: relative;
            padding: 18px 40px 18px 0;
            font-family: $font-karla;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px; 
            color: #000000;
            margin: 0;
            cursor: pointer;
            @include sm {
                font-size: 18px;
                line-height: 20px;
            }
            &:before{
                content: '+';
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 9;
                color: #000000;
                font-size: 20px;
                transition: 0.3s all;
            }
            &.active-header{
                &:before{
                    content: '-';
                }
            }
        }
        &_content{
            padding: 0 0 18px 0;
            font-family: $font-karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px; 
            color: $color-black;
            border-bottom: 1px solid $color-dark2;
            margin: 0;
            display: none;
            width: 100%!important;
            box-sizing: border-box;
            @include sm {
                font-size: 16px;
                line-height: 18px; 
            }
        }
    }
    
}

.video_block_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    z-index: 9999;
    background: rgba(65, 68, 55, 0.71);
    display: none;
    justify-content: center;
    align-items: center;
    &.active{
      display: flex;
    }
    &_cont{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 926px;
      height: 564px;
      box-sizing: border-box;
      background: #FFFFFF;
      border-radius: 15px;  
      padding: 15px;
      position: relative;
      @include sm {
        height: 400px;
      }
      @include xs {
        height: 300px;
      }
      iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 2;
      }
    }
    &_close{
        position: fixed;
        z-index: 9999;
        right: 50px;
        top: 35px;
        font-size: 40px;
        color: white; 
        cursor: pointer; 
        @include lg {
            right: 25px;
            top: 35px;
        }
        @include sm {
            right: 25px;
            top: 10px;
        }
    }
  }