.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: $background-white; 
  padding: 28px 0 23px;
  z-index: 99;
  transition: 0.3s all; 
  &.active { 
    padding: 15px 0 10px;  
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    .header_cont_nav_list{
      @include sm {
        // top: 62px;
      }
    }
  }
  @include sm {
    padding: 10px 0 10px;
  }
  &_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all;
    position: relative; 
    @include sm {
      padding: 0 40px 0 0;
    }
    &_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      font-family: $font-inter;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 26px; 
      color: $color-black; 
      margin-right: 10px; 
    }
    &_nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.3s all;
      box-sizing: border-box;
      &.active {
        transition: 0.3s all; 
      }
      &_list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0; 
        @include sm {
          flex-direction: column;
          position: absolute;
          bottom: -9px;
          right: -40px;
          min-width: 250px;
          background-color: $background-white;
          border-radius: 6px; 
          flex-direction: column;
          box-shadow: 0px 9px 12px rgba(118, 169, 213, 0.4);
          transform: translate(100%, 100%);
          transition: 0.3s all;
        }
        @include xs {
          width: calc(100% + 70px);
          margin: 0 -35px;
        }
        &.active{
          @include sm {
            right: 0;
            transform: translate(0%, 100%);
          }
        }
        &_items {
          position: relative;
          text-decoration: none;
          list-style: none;
          padding: 15px 0; 
          transition: 0.3s all;
          margin-right: 50px;
          transition: 0.3s all;
          cursor: pointer;
          &:before{
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 4px;
            transition: 0.3s all;
            z-index: 11;
          }
          &.active:before, &:hover:before{
            width: 100%;
            background-color: $background-blue; 
          }
          @include sm { 
            border-bottom: 1px solid rgba(34, 78, 116, 0.4);
            margin-right: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          } 
          &_link { 
            font-family: $font-inter;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px; 
            color: $color-blue;
            text-decoration: none;
            text-align: center; 
            transition: 0.3s all; 
            @include sm { 
              text-shadow: none;
              padding: 18px 30px;
              text-align: left; 
            }
          }
          &:hover > &_children {
            display: flex;
          }
          &.active &_children {
            @include sm {
              display: flex;
            }
          }
          &_children {
            position: absolute;
            top: 108px;
            display: none;
            background-color: $background-white;
            // padding: 24px;
            box-sizing: border-box; 
            box-sizing: border-box;
            // border-radius-bottom: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 255px;
            left: 0%;
            transform: translate(0%, 0%);
            flex-direction: column;
            transition: 0.3s all;
            @include sm {
              display: none;
              position: relative;
              opacity: 1;
              transform: translate(0%, 0%);
              top: 0;
              left: 0;
              width: auto;
              // margin: 0 -15px;
              // padding: 0px 30px;
              // background-color: $background-gray2;
              // border: none;
            } 
            &_link_children {
              text-align: left;
              font-family: $font-inter;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;  
              cursor: pointer;
              transition: 0.3s all;
              text-decoration: none;
              margin-bottom: 0;
              padding: 18px 30px;
              border-bottom: 1px solid rgba(118, 169, 213, 0.4);
              &:hover,
              &.active { 
                opacity: 1;
              }
              @include sm {
                padding: 10px 30px 10px 35px;
                border: none;
              }
            }
            &_link_children:last-child {
              margin-bottom: 0;
              border-bottom: none;
            }
          }
          &:hover > &_link {
            opacity: 1;
          }
        }
      }
    } 
  }
  .general-button{
    @include sm {
      padding: 5px 10px;
      font-size: 13px;
      line-height: 15px;
    }
  }

}
.menu-button{
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  width: 10px;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center 50%;
    transition: 0.3s all;
  }
  &.active{
    img{
      transform: rotate(180deg);
      object-position: center 50%;
    }
  }
  @include sm {
    display: flex;

  }
}