html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 105px;
  transition: 0.3s all;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 
.main{
  padding-top: 105px;
  @include sm {
    padding-top: 46px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  box-sizing: border-box;
  @include lg {
    padding: 0 35px;
  }
}
.container-small {
  max-width: 1290px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  @include lg {
    padding: 0 35px;
  }
}
.row {
  margin: 0 -15px;
  @include lg {
    margin: 0;
  }
}
.general-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: $background-blue;
  font-family:$font-inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px; 
  text-align: center; 
  color: $color-white;
  text-align: center; 
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid $background-blue;
  text-decoration: none;
  &:hover { 
    color: $background-blue;
    background-color: $background-white;
    box-shadow: 0 4px 2px -2px rgba($background-blue, 0.4);
  }
  @include sm {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 30px;
  }
}
 
